body {
    display: grid;
    justify-items: center;
}

#chess-board2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
    width: fit-content;
}

.square {
    text-align: center;
}

.white {
    background-color: white;
    border: solid 1px;
}

.black {
    
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px;
}

.square.white, .square.black {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

img {
    width: 65px;
    height: 65px;
    transition-duration: 0.3s;
}


img:active {
    transform: scale(1.2);
}
.piece-up {
    transform: scale(1.2);
}

.piece-down {
    transform: scale(1);
}